.upload-avatar {
    display: flex;
    height: 45px;

    .cus-btn-upload-image {
        width: 120px;
    }

    .preview {
        margin-left: 10px;

        &.exist {
            box-shadow: 2px 2px 4px 0 #ebebeb;
            cursor: pointer;
        }

        height: 75px;
        width: 150px;
        background: center no-repeat;
        background-size: contain;

    }
}