.header-container {
    height: 60px;
    width: 100%;
    background: white;
    position: sticky;
    top: 0;
    z-index: 3;


    .header-content {
        width: 100%;
        height: 100%;
        display: flex; // cùng 1 hàng
        padding: 0 25px;

        .left-content {
            width: 25%;
            display: flex;
            align-items: center;

            &.left-content-admin {
                width: 20%;
                margin-left: 40px;
            }

            i {
                font-size: 25px;
                color: gray;
                cursor: pointer;
                margin-left: 35px;
            }

            .logo {
                background: url('../../assets/images/logo.svg') center no-repeat;
                height: 100%;
                width: 100%;
                cursor: pointer;
                margin: 10px;

            }
        }

        .center-content {
            padding-left: 30px;
            margin-right: 15px;
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &.center-content-admin {
                width: 65%;
            }

            .child-content {
                .title {
                    width: fit-content;
                    cursor: pointer;

                    &.title-admin {
                        margin-top: 15px;
                    }
                }

                .sub-title {
                    font-size: small;
                    cursor: pointer;
                }
            }
        }

        .right-content {
            width: 15%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            padding-right: 9px;

            .flag {
                display: flex;
                gap: 10px;

                .vi {
                    background: url('../../assets/images/vn.svg');
                    height: 40px;
                    width: 40px;
                    cursor: pointer;
                    opacity: 0.5;

                    &:hover {
                        opacity: 0.8;
                    }

                    &.active {
                        opacity: 1;
                    }
                }

                .en {
                    background: url('../../assets/images/en.svg');
                    height: 40px;
                    width: 40px;
                    cursor: pointer;
                    opacity: 0.5;

                    &:hover {
                        opacity: 0.8;
                    }

                    &.active {
                        opacity: 1;
                    }
                }
            }

            .support {
                cursor: pointer;
                width: 75px;

                i {
                    color: #49bce2;
                }
            }
        }
    }
}

.banner {
    background: url('../../assets/images/bg.jpg') center no-repeat;
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;


    .content-up {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
        height: 65%;
        padding-top: 15px;

        .title {
            color: white;
            text-align: center;
            font-size: 35px;
            text-shadow: 1px 1px 1px black;
            margin-top: 40px;
            text-transform: uppercase;
        }

        .sub-title {
            color: white;
            text-align: center;
            font-size: 35px;
            text-shadow: 1px 1px 1px black;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        .search {
            width: fit-content;
            display: flex;
            align-items: center;
            border-radius: 25px;
            background: #f7d800;
            margin: auto;
            padding: 10px;

            i {
                margin: 0 10px;
            }

            input {
                width: 360px;
                outline: none;
                border: none;
                background: transparent;
            }
        }

    }

    .content-down {
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .options {
            display: flex;
            gap: 40px;
            padding-bottom: 10px;


            .child-option {
                width: 120px;
                text-align: center;

                &:hover {
                    color: #49bce2;
                    cursor: pointer;
                }

                .child-icon {
                    background: white;
                    box-shadow: 1px 1px;
                    width: 55px;
                    height: 55px;
                    padding: 13px;
                    border-radius: 50%;
                    margin: auto;

                    i {
                        font-size: 30px;
                        color: #49bce2;
                    }
                }

                .child-text {
                    font-size: 17px;
                    font-weight: 500;

                }
            }
        }
    }
}